
html,body{
	height: 100%;
	/*overflow: hidden;*/
}



.admin-navbar{
	background-color: #0e90d2;
	height: 50px;
	line-height: 50px;
}
.admin-navbar .title{
	color: #fff;
}


.admin-container{
	height: 100%;
}

.admin-container-sidebar{
	width: 15%;
	min-width: 15%;
	height: 100%;
	background-color: #eee;
	border-right: 1px solid #ccc;
	cursor: pointer;
}

.admin-container-sidebar .list-item{
	margin: 0;
	padding: 0;
}

.admin-container-sidebar .list-item li{
	border-bottom: 1px solid #000;
	padding: 5px;
	list-style: none;

}

.admin-container-sidebar .list-item li.active > *{
	color: #5eb1ca;
	/*color: white;*/
}
.admin-container-content{
	/* height: 500px; */
	/* background-color: #eee; */
	/*width: 85%;*/
	width: 100%;
	height: 100%;
}
td>button{
	margin-left: 10px;
}
.admin-container-content-bread{
	font-weight: bold;
}

/* 
.adminMain-sidebarList{
	list-style: none;
}
 */


/*layer*/
.layer-popup{
	margin: 20px 30px;
}
.layer-popup label{
	width: 100px;
}


#timeFilter>input[type=text]{
	display: none;
}


/*admin-picConfig*/
.popup_PicConf{

}

.popup_PicConf label{
	width: 100px;
}

/*admin-manageData*/
#my-table_wrapper>div:nth-child(2){
	height: 500px;
	overflow: auto;
}


#logout{
	display: inline-block;
	position: absolute;
	right: 10px;
	top: 0;
	color: white;
}